In [ ]:
!pip install selenium
!pip install nltk

Collecting selenium
  Downloading https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl (904kB)
     |████████████████████████████████| 911kB 5.2MB/s
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from selenium) (1.24.3)
Installing collected packages: selenium
Successfully installed selenium-3.141.0
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
#Importing libraries 

import csv
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd 
import requests 
import urllib.request
from time import sleep
from random import randint
import numpy as np
import nltk
from nltk import sent_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
#Empty Arrays 
news_links = []
all_claims = []
date = []
data = []

print(news_links)
print(all_claims)
print(data)

[]
[]
[]

In [ ]:
#Accesing html 
url = 'https://www.indiatoday.in/fact-check'

for page in range(1,83):
  urlpage = requests.get(url + '?page=' + str(page))
  #print(page)
  coverpage = urlpage.content
  soup = BeautifulSoup(coverpage, 'html5lib')
  #print(page)

#Finding div and class 
  covers = soup.find_all('div', attrs={'class':'detail'})
  
  for i in range(0,12):
        if page >= 1:
          pagelink ='https://www.indiatoday.in/' + covers[i].find('a')['href']
          news_links.append(pagelink)
          
  #sleep(randint(2, 5))
#len(news_links)
          
          #Finding div and class to get claim & date 
          claim = requests.get(pagelink)
          newsclaim = claim.content
          soup_claim = BeautifulSoup(newsclaim, 'html5lib')

          body = soup_claim.find('div', attrs={'class':'factcheck-review'})
          try:
            for x in body.find_all('span'):
              x.decompose()
          
            factcheck = body.text.split(".")
            all_claims.append(factcheck[0])
          except:
            pass
          #print(all_claims)

          claim_date = soup_claim.find('dt', attrs={'class':'pubdata'})
          try:
            date.append(claim_date.text)
          #print(date)
          except:
            pass
        
          sleep(randint(2, 3))
    
#for n in range(0, len(all_claims)):
  #data.append((news_links[n], all_claims[n], date[n]))

#print(data)

In [ ]:
for n in range(0,len(all_claims)):
  data.append((news_links[n], all_claims[n], date[n]))

In [ ]:
df = pd.DataFrame(data, columns=['Link','Claims','Date'])

In [ ]:
df.head()

                                                Link  ...            Date
0  https://www.indiatoday.in//fact-check/story/fa...  ...  March 30, 2021
1  https://www.indiatoday.in//fact-check/story/fa...  ...  March 28, 2021
2  https://www.indiatoday.in//fact-check/story/fa...  ...  March 27, 2021
3  https://www.indiatoday.in//fact-check/story/fa...  ...  March 24, 2021
4  https://www.indiatoday.in//fact-check/story/fa...  ...  March 24, 2021

[5 rows x 3 columns]

In [ ]:
df = pd.DataFrame(data, columns=['Links','Claims', 'Date'])
df.to_csv('India Today Claims.csv', index=False, encoding='utf-8')